.brand-hub {
  background-color:var(--color-primary); /* naranja */
  border-radius: 2px;
  color: rgb(255, 255, 255);
  padding: 6px 12px;
}
.navbar{
    background-color: var(--color-background-alt);
}