
[
  {
    "id": 1,
    "restaurantName": "string",
    "password": "string",
    "firstName": "string",
    "lastName": "string",
    "address": "string",
    "phoneNumber": "string"
  },
  {
    "id": 2,
    "restaurantName": "LUNA",
    "password": "0204",
    "firstName": "susana",
    "lastName": "Guo",
    "address": "rosario",
    "phoneNumber": "3412426816"
  },
  {
    "id": 3,
    "restaurantName": "",
    "password": "gssn0204",
    "firstName": "susana",
    "lastName": "Guo",
    "address": "",
    "phoneNumber": ""
  },
  {
    "id": 4,
    "restaurantName": "Ezequiel",
    "password": "1234",
    "firstName": "Ezequiel",
    "lastName": "Novarino",
    "address": "Güemes 2066, Cuatro",
    "phoneNumber": "3416997685"
  },
  {
    "id": 5,
    "restaurantName": "Ezequiel",
    "password": "1234",
    "firstName": "Ezequiel",
    "lastName": "Novarino",
    "address": "Güemes 2066, Cuatro",
    "phoneNumber": "3416997685"
  },
  {
    "id": 6,
    "restaurantName": "NovaRos",
    "password": "1234",
    "firstName": "Juan",
    "lastName": "Novarino",
    "address": "Laprida 22",
    "phoneNumber": "3416997685"
  },
  {
    "id": 7,
    "restaurantName": "NovaRos",
    "password": "1234",
    "firstName": "Juan",
    "lastName": "Novarino",
    "address": "Laprida 22",
    "phoneNumber": "3416997685"
  },
  {
    "id": 8,
    "restaurantName": "NovaRos",
    "password": "1234",
    "firstName": "Juan",
    "lastName": "Novarino",
    "address": "Laprida 22",
    "phoneNumber": "3416997685"
  },
  {
    "id": 9,
    "restaurantName": "ViaApia",
    "password": "12345",
    "firstName": "Ezequiel",
    "lastName": "Novarino",
    "address": "Güemes 2066, Cuatro",
    "phoneNumber": "3416997685"
  },
  {
    "id": 10,
    "restaurantName": "ambre",
    "password": "8888",
    "firstName": "Juan",
    "lastName": "Novarino",
    "address": "Av Del Rosario 9 Bis, No",
    "phoneNumber": "3416997685"
  },
  {
    "id": 11,
    "restaurantName": "Roscio",
    "password": "1234",
    "firstName": "Tomas",
    "lastName": "Rosciolino",
    "address": "oroño",
    "phoneNumber": "+543412579745"
  },
  {
    "id": 12,
    "restaurantName": "Prego",
    "password": "apps",
    "firstName": "Facundo",
    "lastName": "Racca",
    "address": "prego1",
    "phoneNumber": "123"
  },
  {
    "id": 13,
    "restaurantName": "Nombre de Restaurante",
    "password": "string",
    "firstName": "string",
    "lastName": "string",
    "address": "string",
    "phoneNumber": "string"
  },
  {
    "id": 14,
    "restaurantName": "Lalalalalalala",
    "password": "string",
    "firstName": "string",
    "lastName": "string",
    "address": "string",
    "phoneNumber": "string"
  },
  {
    "id": 15,
    "restaurantName": "let's eat!",
    "password": "1234",
    "firstName": "mica",
    "lastName": "aste",
    "address": "gral lopez 1235456678",
    "phoneNumber": "3476666712"
  },
  {
    "id": 16,
    "restaurantName": "delfina",
    "password": "2303",
    "firstName": "delfina",
    "lastName": "gilli",
    "address": "chacabuco",
    "phoneNumber": "12345"
  },
  {
    "id": 17,
    "restaurantName": "barra",
    "password": "string",
    "firstName": "string",
    "lastName": "string",
    "address": "string",
    "phoneNumber": "string"
  },
  {
    "id": 18,
    "restaurantName": "Ejemplo",
    "password": "appsapps",
    "firstName": "Ejemplo",
    "lastName": "Ejemplo",
    "address": "sdfghjkn",
    "phoneNumber": "1234578"
  },
  {
    "id": 19,
    "restaurantName": "A ver gasti",
    "password": "string",
    "firstName": "string",
    "lastName": "string",
    "address": "string",
    "phoneNumber": "string"
  },
  {
    "id": 20,
    "restaurantName": "emilia",
    "password": "apps",
    "firstName": "Emilia",
    "lastName": "Bellomini",
    "address": "asdfg",
    "phoneNumber": "34567"
  },
  {
    "id": 21,
    "restaurantName": "Pregont",
    "password": "prego",
    "firstName": "dueño",
    "lastName": "de prego",
    "address": "cochabamba 1234",
    "phoneNumber": "1234567"
  },
  {
    "id": 22,
    "restaurantName": "mica's",
    "password": "mica",
    "firstName": "mica",
    "lastName": "aste",
    "address": "sanlo",
    "phoneNumber": "234578"
  },
  {
    "id": 23,
    "restaurantName": "sushi",
    "password": "67890",
    "firstName": "yu",
    "lastName": "ll",
    "address": "",
    "phoneNumber": ""
  },
  {
    "id": 24,
    "restaurantName": "Infinita",
    "password": "123456789",
    "firstName": "Infinita",
    "lastName": "Panaderia",
    "address": "Paraguay 1900",
    "phoneNumber": "123456789"
  }
]