<header>
  @if (isEdit) {
    <h1>Editar producto</h1>
  } @else {
    <h1>Crear producto</h1>
  }
</header>

<main>
  <form (ngSubmit)="save()">
    <div>
      <label for="name">Nombre</label>
      <input id="name" name="name" [(ngModel)]="form.name" required />
    </div>

    <div>
      <label for="description">Descripción</label>
      <textarea id="description" name="description" [(ngModel)]="form.description"></textarea>
    </div>

    <div>
      <label for="price">Precio</label>
      <input id="price" name="price" type="number" [(ngModel)]="form.price" required />
    </div>
    <div>
      <label for="discountPercentage">Porcentaje de descuento</label>
      <input id="discountPercentage" name="discountPercentage" type="number" [(ngModel)]="form.discount" />
    </div>

    <div>
  <label for="categoryId">Categoría</label>

  <select
    id="categoryId"
    name="categoryId"
    [(ngModel)]="form.categoryId"
    required
  >
    <option [ngValue]="null" disabled>
      Seleccioná una categoría
    </option>

    @for (c of categories; track c.id) {
      <option [ngValue]="c.id">
        {{ c.name }}
      </option>
    }
  </select>
</div>


    <div>
      <label>
        <input type="checkbox" name="isFeatured" [(ngModel)]="form.isFeatured" />
        Destacado
      </label>
    </div>

    <div>
      <button type="submit">Guardar</button>
      <button type="button" (click)="cancel()">Cancelar</button>
    </div>
  </form>
</main>
