.brand-hub {
    background-color: var(--color-primary);
    color: var(--color-text-logo);
}

.btn-primary {
    background-color: var(--color-primary) !important;
    border-color: var(--color-primary) !important;
}

.back {
  display: inline-flex;
  width: fit-content;
  text-decoration: none;
  font-weight: 800;
  opacity: 0.85;
}